:root {
    --default-primary-color:#f86b07;
    --dark-grey-color:#555555;
    --light-grey-color:#777777;
    --height-footer:10em;
    --padding-bottom-body:15em;
    --height-navbar:50px;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0; 
}
body {
    line-height: 1.2em; 
    color: #000000; 
    background: #ffffff; 
    font-style: normal; 
    font-weight: normal; 
    font-family: Tahoma,Arial,sans-serif; 
    text-align: left;
}
h1 {
    color: var(--default-primary-color); 
    font-weight: bold; 
    font-size: 160%;
    line-height: 1.2em;
    text-align: center;
}
h2 {
    color: var(--default-primary-color); 
    border-bottom:solid thin var(--default-primary-color); 
    font-weight: bold; 
    font-size: 120%;
    line-height: 1.2em;    
    text-align: center;
}
h3 {
    color: var(--default-primary-color); 
    font-weight: bold; 
    font-size: 100%; 
    text-align: left; 
}
h4 {
    color: var(--default-primary-color); 
    font-weight: bold; 
    font-size: 80%; 
    text-align: left; 
}
#content {
    min-height: 100%;
    position: relative;
    //border-top: 1px solid var(--light-grey-color);
    //border-left: 1px solid var(--light-grey-color);
    //border-right: 1px solid var(--light-grey-color);
    //border-bottom: 1px solid var(--light-grey-color);
    margin: 0px 13% 0px 13%;
}
#header {
}
#body {
    padding:1em;
    padding-bottom: var(--padding-bottom-body);
}
#footercontent {
    margin: 1em 1em 0em 1em;
}
#footer {
    width: 100%;
    padding:1em 0em;
    height: var(--height-footer);
    bottom:0;
    position: absolute;
    background-color: var(--light-grey-color);
    color: #ffffff;
}

/*
   img
*/
img.icon {
    height: 16px;
}

/* 
   links 
*/
a:hover {
    color: var(--default-primary-color);
    //color: var(--dark-grey-color);
    //font-weight: bold;     
    text-decoration: underline; 
}
a {
    color: var(--default-primary-color);
    //color: var(--dark-grey-color);
    //font-weight: bold;     
    text-decoration: none; 
}
a.aspecial {
    color: var(--default-primary-color);
    font-weight: bold;    
}

.collapse > div {
  display:none;
}
.collapse > div:target {
  display:block; 
}

/* 
   nav 
*/
.site-nav {
  float: center;
  width: 100%;
  background-color: var(--light-grey-color);
  //line-height: var(--height-navbar);//47.25px; 
  margin-bottom: 2em;
}
.site-nav .nav-trigger {
    display: none; 
}
.site-nav .menu-icon {
    display: none; 
}
.site-nav .page-link {
    color: #ffffff;
    padding: 0px 10px; 
    line-height: var(--height-navbar); 
}
.site-nav .page-link:hover {
    display: inline-block;
    background-color: var(--default-primary-color);
    color: var(--dark-grey-color);
    text-decoration: none;
    line-height: var(--height-navbar);;
}
.site-nav .page-link:not(:last-child) {
      margin-right: 20px; 
}

/* 
   reactive nav 
*/
@media screen and (max-width: 600px) {
    #content {
      margin: 0px 0px 0px 0px;
    }
    .site-nav {
      //position: absolute;
      //right: 0px;
      background-color: var(--light-grey-color);//rgba(100,100,100,0.7);
      text-align: center; 
      min-height: var(--height-navbar);
     }
     .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        padding-top: 5px;
        padding-right: 10px;
        cursor: pointer;
      }
      .site-nav .menu-icon {
        fill: #ffffff;
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 5px;
        padding-right: 10px;
        text-align: center;
      }
      .site-nav .menu-icon:hover {
        fill: var(--default-primary-color);
      }
      .site-nav input ~ .trigger {
        clear: both;
        display: none;
      }
      .site-nav input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px;
      }
      .site-nav .page-link:hover {
	    display: block;
      }
      .site-nav .page-link:not(:last-child) {
          margin-right: 0px;
      } 
}
